:root {
  --text-color: #ffffffde;
  --background-color: #242424;

  --control-button-background-color: #323232;
  --control-button-pending-dash-color: #393939;

  --hidden-text-color: #323232;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  :root {
    --hidden-text-color: #d6d6d6a9;
    --background-color: #ffffff;

    --control-button-background-color: #626262;
    --control-button-pending-dash-color: #7f7f7f;
  }
}